{% extends "layout/master.html" %}

{% from "macros.html" import render_field with context %}

{% block title %}E-Mail рассылки{% endblock %}

{% block content %}

{% include "layout/_partial/header.html" %}
{% include "layout/_partial/hero.html" %}

<section class="main">
    <div class="container">
        {% include "_messages.html" %}

        <div class="row">
            <div class="col-md-3 col-sm-3">
                {% include "cabinet/_partial/balance.html" %}

                {% with active_cabinet_page='deliveries' %}
                    {% include "cabinet/_partial/menu.html" %}
                {% endwith %}
            </div>

            <div class="col-md-9 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse"> E-Mail рассылки - Создание </a> </h4>
                    </div>

                    <form accept-charset="utf-8" method="post" class="form-horizontal" autocomplete="off">

                        <div class="panel-body">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Производитель</label>
                                <div class="col-sm-9">
                                    {{ render_field(form.manufacturer, class='form-control', with_label=True) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Модель</label>
                                <div class="col-sm-9">
                                    {{ render_field(form.model, class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">КПП</label>
                                <div class="col-sm-9">
                                    {{ render_field(form.transmission, class='form-control') }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Год выпуска</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ render_field(form.year_from, class='form-control') }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ render_field(form.year_to, class='form-control') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Цена, руб.</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ render_field(form.price_from, class='form-control') }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ render_field(form.price_to, class='form-control') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-custom"><i class="fa fa-save"></i> Сохранить</button>
                                    <button type="reset" class="btn btn-default"><i class="fa fa-close"></i> Сброс</button>
                                    <a class="btn btn-danger" href="{{ url_for('cabinet.deliveries') }}">Отмена</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% include 'layout/_partial/footer.html' %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='plugins/jquery.mask/jquery.mask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/cabinet/deliveries-create.js') }}"></script>
{% endblock %}