{% extends "layout/master.html" %}

{% from "macros.html" import render_field with context %}

{% block title %}Кабинет пользователя{% endblock %}

{% block content %}

{% include "layout/_partial/header.html" %}
{% include "layout/_partial/hero.html" %}

<section class="main">
    <div class="container">
        {% include "_messages.html" %}

        <div class="row">
            {% with active_cabinet_page='billing' %}
                {% include "cabinet/_partial/menu.html" %}
            {% endwith %}

            <div class="col-md-9 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse"> Пополнить баланс </a> </h4>
                    </div>

                    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/shop-widget?account=410014709934025&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5+%D0%B1%D0%B0%D0%BB%D0%B0%D0%BD%D1%81%D0%B0&targets-hint=&default-sum=200&button-text=01&successURL=http%3A%2F%2Fstopdealer.ru%2Fbilling%2F" width="450" height="199"></iframe>

                </div>
            </div>

        </div>
    </div>
</section>

{% include 'layout/_partial/footer.html' %}

{% endblock %}