{% extends "layout/master.html" %}

{% block title %}{{ article.head_title }}{% endblock %}
{% block meta_description %}{{ article.meta_description }}{% endblock %}
{% block meta_keywords %}{{ article.meta_keywords }}{% endblock %}

{% block content %}

{% with active_page='blog' %}
{% include "layout/_partial/header.html" %}
{% endwith %}
{% include "layout/_partial/hero.html" %}

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="post">
                    <div class="post-title">
                        <h1>{{ article.title }}</h1>
                        <p class="small text-muted pubdate">Опубликовано: {{ article.created_at.strftime('%d.%m.%Y') }}</p>
                    </div>
                    <div class="post-body">
                        {{ article.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'layout/_partial/footer.html' %}

{% endblock %}