<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-database"></i></span>
                    <div data-refresh-interval="100" data-speed="1000" data-to="{{ auto_count }}" data-from="0" class="item-count">{{ auto_count }}</div>
                    <span class="item-info">Автомобилей</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-user-plus"></i></span>
                    <div data-refresh-interval="50" data-speed="1000" data-to="{{ sellers_count }}" data-from="0" class="item-count">{{ sellers_count }}</div>
                    <span class="item-info">Продавцов</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-search"></i></span>
                    <div data-refresh-interval="80" data-speed="1000" data-to="3000" data-from="0" class="item-count">3000</div>
                    <span class="item-info">Поисков</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-users"></i></span>
                    <div data-refresh-interval="80" data-speed="2000" data-to="250" data-from="0" class="item-count">250</div>
                    <span class="item-info">Довольных клиентов</span>
                </div>
            </div>
        </div>
    </div> <!-- / .counter -->
</div>