<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="widget">
            <div class="widget-header">
                <h3>Смотрите также:</h3>
            </div>

            <div class="widget-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#become_cheaper" aria-controls="become_cheaper" role="tab" data-toggle="tab">Подешевевшие</a></li>
                    <li role="presentation"><a href="#popular_articles" aria-controls="popular_articles" role="tab" data-toggle="tab">Популярные статьи</a></li>
                    <li role="presentation"><a href="#last_articles" aria-controls="last_articles" role="tab" data-toggle="tab">Последние статьи</a></li>
                    <li role="presentation"><a href="#your_searches" aria-controls="your_searches" role="tab" data-toggle="tab">Ваши поиски</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="become_cheaper">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Автомобиль</th>
                                    <th>Год выпуска</th>
                                    <th>Подешевел на</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cheapened_autos %}
                                <tr>
                                    <td>{{ item.created_at.strftime('%d.%m.%Y') }}</td>
                                    <td>{{ item.automobile.props['manufacturer'] }}&nbsp;{{ item.automobile.props['model'] }}</td>
                                    <td>{{ item.automobile.props['Год выпуска'] }} г.в.</td>
                                    <td>{{ item.fell_by }} руб.</td>
                                    <td><a class="btn btn-custom btn-block" href="{{ url_for('automobile.index', auto_id=item.automobile._id) }}">Смотреть</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="popular_articles">
                        {% for article in popular_articles %}
                        <div class="post">
                            <div class="post-title">
                                <h3><a href="{{ url_for('blog.show', slug=article.slug) }}">{{ article.title }}</a></h3>
                                <p class="small text-muted">Опубликовано: {{ article.created_at.strftime('%d.%m.%Y') }}</p>
                            </div>
                            <div class="post-body">
                                <p>{{ article.content|striptags|truncate(100) }} <a href="{{ url_for('blog.show', slug=article.slug) }}">Детальнее</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="last_articles">
                        {% for article in last_articles %}
                        <div class="post">
                            <div class="post-title">
                                <h3><a href="{{ url_for('blog.show', slug=article.slug) }}">{{ article.title }}</a></h3>
                                <p class="small text-muted">Опубликовано: {{ article.created_at.strftime('%d.%m.%Y') }}</p>
                            </div>
                            <div class="post-body">
                                <p>{{ article.content|striptags|truncate(100) }} <a href="{{ url_for('blog.show', slug=article.slug) }}">Детальнее</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="your_searches">
                        {% if current_user.is_authenticated %}
                            {% if last_searches_user %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Номер телефона</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for search in last_searches_user  %}
                                    <tr>
                                        <td>{{ search.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                        <td>{{ search.phone }}</td>
                                        <td><a class="btn btn-custom btn-block" href="{{ url_for('phone.index', phone=search.phone) }}">Повторить поиск</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <p>Вы ещё ничего не искали.</p>
                            {% endif %}
                        {% else %}
                            <p><a href="{{ url_for_security('login') }}">Авторизируйтесь</a>, чтобы увидеть историю ваших поисков</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>